table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
  }
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  td{
    background-color:white
  }
  th{
    background-color:aquamarine
  }