ul {
    border: 1px solid rgb(42, 42, 75);
    border-radius: 1pt;
    border-collapse: collapse;
    padding: 9px;
}
lightning-record-form {
    background-color: rgb(252, 252, 252);
}
p{
    text-align: left;
}